html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: #369;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.box {
	border-radius: 30px;
	background-color: #d7d7d7;
	text-align: center;

	padding: 40px;
}

.box .pin {
	font-family: monospace;
	font-size: 40pt;
	word-spacing: -10pt;

	margin: 0px;
}
